# Copyright (c) 2016 - 2023 DisplayLink (UK) Ltd.
# File extracted from udev-installer.sh script and path to trigger script changed

ENV{PRODUCT}!="17e9/*", GOTO="not_dl"

ACTION=="add|change", SUBSYSTEM=="usb", DRIVERS=="usb", IMPORT{builtin}="usb_id", ENV{DISPLAYLINK_DEVNAME}="$env{DEVNAME}", ENV{DISPLAYLINK_DEVICE_ID}="$env{ID_BUS}-$env{BUSNUM}-$env{DEVNUM}-$env{ID_SERIAL}"

ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb", \
   ATTR{bInterfaceClass}=="ff", ATTR{bInterfaceProtocol}=="03", IMPORT{parent}="DISPLAYLINK*", \
   RUN+="/usr/libexec/displaylink/udev.sh $root $devpath $env{DISPLAYLINK_DEVICE_ID} $env{DISPLAYLINK_DEVNAME}"

ACTION=="remove", RUN+="/usr/libexec/displaylink/udev.sh $root $env{DEVNAME}"

# udev rules configuring DisplayLink usb ethernet device
ACTION=="add|move|bind", ATTRS{idProduct}=="[3456]*", IMPORT{builtin}="usb_id", ENV{ID_USB_DRIVER}=="cdc_ncm", \
   ATTR{cdc_ncm/rx_max}=="?*", ATTR{cdc_ncm/dwNtbInMaxSize}=="?*", ATTR{cdc_ncm/rx_max}="$attr{cdc_ncm/dwNtbInMaxSize}"
ACTION=="add|move|bind", ATTRS{idProduct}=="[3456]*", IMPORT{builtin}="usb_id", ENV{ID_USB_DRIVER}=="cdc_ncm", \
   ATTR{cdc_ncm/tx_max}=="?*", ATTR{cdc_ncm/dwNtbOutMaxSize}=="?*", ATTR{cdc_ncm/tx_max}="$attr{cdc_ncm/dwNtbOutMaxSize}"

LABEL="not_dl"
