[Unit]
Description=DisplayLink Manager Service
After=display-manager.service
Conflicts=getty@tty7.service

[Service]
ExecStartPre=/sbin/modprobe evdi
Environment=LD_LIBRARY_PATH=/usr/libexec/displaylink/
ExecStart=/usr/libexec/displaylink/DisplayLinkManager
Restart=always
WorkingDirectory=/usr/libexec/displaylink
RestartSec=5
